.h1 {
  text-transform : capitalize;
}
p.pertama {
  text-align:justify;
}
p.kedua {
  text-decoration: underline;
}
* {
color : white;
background-color : green;
}
p.tiga {
  text-align: center;
}

p.lima {
  text-decoration: line-through;
}
